@define-mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@define-mixin atSmall {
  @media (min-width: 33.125rem) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 50rem) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 63.125rem) {
    @mixin-content;
  }
}
