.site-nav {
  height: 2.625rem;
  padding-top: .625rem;

  @mixin atMedium {
    padding-top: 0;
  }

  ul {
    display: table;
    height: inherit;
    padding: 0;
    margin: 0 auto;
    @mixin clearfix;
  }

  li {
    display: table-cell;
    list-style: none;
    padding-right: 2.4rem;
    vertical-align: middle;

    @mixin atMedium {
      padding-right: 1.25rem;
    }

    &:last-child {
      padding-right: 0;

      @mixin atMedium {
        padding-right: 1.25rem;
      }
    }
  }

  a {
    background-color: rgba($mainBlue, .5);
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    text-decoration: none;
    padding: .3125rem .5rem;

    @mixin atMedium {
      background-color: transparent;
      font-size: 1rem;
      padding: .75rem 0;

      &.active {
        color: #fabb69;
      }
    }
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }    
  }
}
