.testimonial {
  background: rgba(255, 255, 255, .8);
  padding: 0 1.125rem 1px 1.125rem;
  margin-bottom: 6.125em;

  @mixin atLarge {
    padding: 0 1.8125rem 1px 1.8125rem;
    margin-bottom: 0;
  }

  &__photo {
    position: relative;
    top: -5rem;
    display: block;
    border: .375rem solid rgba(255, 255, 255, .8);
    border-radius: 100%;
    margin: 0 auto -5em auto;
  }

  &__name {
    color: $mainBlue;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  &__loyalty {
    color: $mainOrange;
    text-align: center;
    font-size: .9375rem;
    font-weight: 400;
    margin: .25em 0 1em 0;
  }

  &--last {
    margin-bottom: 0;
  }
}
