.wrapper {
  max-width: 77.25rem;
  padding: 0 1.125rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  &--md {
    max-width: 61rem;
  }

  &--no-padding-until-md {
    padding-right: 0;
    padding-left: 0;

    @mixin atMedium {
      padding: 0 1.125rem;
    }
  }

  &--no-padding-until-lg {
    padding-right: 0;
    padding-left: 0;

    @mixin atLarge {
      padding: 0 1.125rem;
    }
  }

  &--b-margin {
    margin-bottom: 1em;

    @mixin atSmall {
      margin-bottom: 3.875em;
    }
  }

  .wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}
